<div class="container margin-bottom">
    <table id="formularios-tabela" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>E-MAIL</th>
                <th>TELEFONE</th>
                <th>DESCRICAO</th>
                <th>DATA</th>
                <th>EXCLUIR</th>
            </tr>
        </thead>
        <tbody>



        </tbody>
    </table>
</div>