body {
    background-image: url('../img/fundo.jpg');
    z-index: -1;
    height: auto;
}

#titulo {
    position: relative;
    max-width: 100%;
    display: fixed;
    text-align: center;
    justify-content: center;
}

.paginacao {
    padding: 10px;
    margin-left: 41%;
}

thead {
    background: black;
    border: 1px solid black;
}

.sorting {
    color: white!important;
    text-align: center;
}

.sorting_desc {
    color: white!important;
}

#formularios-tabela_info {
    color: black!important;
    font-size: 18px;
}

.card {
    margin-top: -4%!important;
}

.botao-login:hover {
    background-color: #FFC312!important;
}

.botao-login {
    position: absolute!important;
    margin-left: 33%;
    margin-top: 5%;
}

.esqueceu {
    color: white;
}

.esqueceu:hover {
    color: white;
}

.center {
    text-align: center;
}

.container {
    height: 100%;
    align-content: center;
}

#margin-bottom {
    margin-top: -4.5%;
}

.spinner {
    display: none;
    justify-content: center;
    text-align: center;
    margin-left: 43%;
}

.buttons-excel {
    background-color: #299456;
    color: fff;
    background-image: none!important;
    border-radius: 100px!important;
    padding: 10px 30px!important;
    font-size: 9pt!important;
    border: none!important;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons-pdf {
    background-color: #c91717;
    color: fff;
    background-image: none!important;
    border-radius: 100px!important;
    padding: 10px 30px!important;
    font-size: 9pt!important;
    border: none!important;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons-print {
    background-color: #fdfdfd;
    color: fff;
    background-image: none!important;
    border-radius: 100px!important;
    padding: 10px 30px!important;
    font-size: 9pt!important;
    border: none!important;
    font-family: Arial, Helvetica, sans-serif;
}

.remove {
    color: red;
}

.remove:hover {
    color: red;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}